body{
    margin: 0;
    padding: 0;
}

body{   
 margin: 0;
    padding: 0;
}

.navbar{
    height: 100px;
 


}
.nav{
    width: 80%;
    margin: 0 auto;
  

}
.nav ul{list-style: none;}
.nav ul li{ float: right; }
.nav ul li a{ 
    text-decoration: none;
    padding-right: 20px; 
     font-family: 'Montserrat', sans-serif;
    font-size: 16px;
     color: #000;
}



.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
  
}
.half-width h1{
     font-size: 40px;
     font-family: 'Montserrat', sans-serif;
   
     
}
.half-width h3{
    font-family: 'Titillium Web', sans-serif;
}
.half-width img{
    width: 400px;
    height: 400px;
    margin-top: 10px;
  padding-bottom: 50px;
  
}
.namestyle{
    color: #ff297d;
    border: 0.3px dashed #ddd;
}
.namestyle:hover{
    color: coral;
    cursor: pointer;
}
.btn{ 
    width: 100px;
    height: 35px;
    color: rgb(255, 255, 255);
    background: #FF4890;
    /* padding: 6px 16px 29px; */
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}
.btn:hover{
     background-color: red;
}
.aboutarea{
  
}
.about{
    display: inline-block
}
.half-width h2:hover{
   
    cursor: pointer;
    text-decoration: underline;
}

section{
    background-color: #F8F9FC;
    height: 500px;
    width: 100%;
}
 .letest{
     text-align: center;
     
 }
 .letest h1{
    padding-top: 70px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
 }


.project{
    float: left;
    margin-left: 8%;
    /* padding-left: 26%; */
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow:  0px 1px 8px 0px;
 
   
}
.project_styel{
    color:#fa6a58;
}
.project img{
    width: 271px;
    height: 178px;
    float: left;
}
.project h4{

}
 .project p{}
.project img:hover{
    cursor: pointer;
}

 


.Inquery_chat{
    width: 600px;
    height: 200px;
    text-align: center;
    background-color: #4C40CA;
    margin-left: 27%;
    margin-top: 70px;
    border-radius: 10px;
}
.inqu{
    float: left;
    margin-left: 40px;
    margin-top: 32px;
    font-size: 40px;
    color: #fff;
    font-family: 'Titillium Web';
    font-weight: bold;
 }
.chats{}
.bt{
    color: #fff;
    margin-top: 82px;
    font-size: 25px;
    margin-left: 43px;
    background-color: #FB7362;
    border: none;
    border-radius: 5px;
    padding: 11px;
    cursor: pointer;
}

.fotter{
    text-align: center;
    margin-top: 100px;

}
.top_footer{}
.bottom_fotter img{
    width: 40px;
    height: 40px;

}





.artical{
    box-shadow: 1px 3px 14px 2px;
    padding: 16px;
    border-left: 7px solid #fb6756;
    border-radius: 5px;
    display: inline-block;
     
}
.artical-1{
    box-shadow: 1px 3px 14px 2px;
    padding: 16px;
    border-left: 7px solid#23c3df;
    margin-top: 116px;
    border-radius: 5px;

 
}
.experiences{
      display: inline-block;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 50px;
 
}